<div class="container d-flex justify-content-center">
    <div class="weather">
        <div class="row">
            <div class=" col-md-6" *ngFor="let climate of climates">
                <div class="card" (click)="getForecast(climate.name)"> <span class="icon"><img class="img-fluid" src="https://img.icons8.com/emoji/96/000000/sun-emoji.png" /></span>
                    <div class="title">
                        <p>{{climate.name}}</p>
                    </div>
                    <div class="temp">{{climate.main.temp | temprature:'C'}}</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="header">Sunrise</div>
                            <div class="value">{{climate.sys.sunrise | time}}</div>
                        </div>
                        <div class="col-6">
                            <div class="header">Sunset</div>
                            <div class="value">{{climate.sys.sunset | time}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>