<header class="page-footer font-big white header"><div class="footer-copyright text-center py-3 title">Weather</div></header>
<router-outlet></router-outlet>
<footer class="page-footer font-big white header"><div class="footer-copyright text-center py-3 title">Climate</div></footer>