<div class="container d-flex justify-content-center">
    <div class="weather">
        <div class="row">
            <div class="col-md-12" *ngIf="cast.city">
                <div class="card"> <span class="icon"><img
                            src="https://img.icons8.com/color/50/000000/wind.png" /></span>
                    <div class="title">
                        <p>{{cast.city.name}}</p>
                    </div>
                    <div class="temp">Forecast for next 5 days</div>
                    <div class="row">
                        <div class="col-4" *ngFor="let item of cast.list">
                            <div class="value">{{item.dt | unixDate}}</div>
                            <div class="value">Temprature: {{item.main.temp | temprature:'C'}}</div>
                            <div class="value">Sea Level: {{item.main.sea_level}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>